.container-fluid{
  height:100vh;
}
h2{
    margin:auto;
    left:0;
    right:0;
    position:absolute;
    width: 140px;
    top:50%
}
.section{
    position:relative;
}
.section.dark{
    color:#ffffff;
}
#sec-1{
    background-color:#444247
}
#sec-2{
    background-color:#ffffff
}
#sec-3{
    background-color:#ffda8b
}
#sec-4{
    background-color:#ffbb69
}
#sec-5{
    background-color:#49cbc1
}
#sec-6{
    background-color:#444247
}
#sec-7{
    background-color:#ffffff
}
#sec-7{
    background-color:#ffda8b
}







